.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ef5350 !important;
  box-shadow: 0 1px 0 0 #ef5350 !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images{
  width: 30%;
  margin-bottom: 10px;
}

.searchbox{
  padding: 20px;
  text-align: center;
  max-width: 700px;
  margin: 10px auto;
  display: flex;
}

.input-field input {
  border-radius: 25px !important;
  border: 2px solid #ef5350 !important;
  padding: 20px !important; 
  width: 200px !important;
  height: 0px !important; 
  margin-right:10px !important ;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  /* opacity: 0.8; */
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}
